{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6 shadow p-4">
            <h3>Créer votre compte</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputText1">Donnez votre Prénom:</label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputText1">Donnez votre Nom:</label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Votre Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Mot de Passe:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Répéter votre Mot de Passe:</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Voir le mot de passe</label>
                </div>
                <button type="submit" class="btn btn-primary">Inscrivez-vous</button>
              </form>
            </div>
        <div class="col-lg-6">
            <img src="https://montagne-noire-labruguiere.mon-ent-occitanie.fr/lectureFichiergw.do?ID_FICHIER=1490115564349" alt="" class="img-fluid img-reponsive">

        </div>
    </div>
 </div>
{% endblock %}